<div class = "container">
  <div class="container">
     <div class="row">
      <h1>Loktar'Ogar</h1>
     </div>
     <div class="row">
        <button type="button" class="btn btn-primary">Pochi</button>
     </div>

  </div>


    <div class="container custom-field">
      <div class="row">
        <div class="col-md-4">
        <div class="page-header">
          <h4 style="display inline">Example page header
            <span class="badge badge-secondary">New
            </span></h4>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam corporis minima libero optio voluptate ex porro laudantium pariatur nemo sapiente assumenda nulla, error ipsa et exercitationem velit ea! Consequatur!</p>
        </div>
        </div>
        <div class="col-md-4">
        <div class="page-header">
          <h4 style="display inline">Subtitulo
          <span class="badge badge-secondary">New
            </span></h4>
          </h4>
           <hr>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam corporis minima libero optio voluptate ex porro laudantium pariatur nemo sapiente assumenda nulla, error ipsa et exercitationem velit ea! Consequatur!</p>
        </div>
        </div>
        <div class="col-md-4">
        <div class="page-header">
          <h4 style="display inline">SubSubtitulo
          <span class="badge badge-secondary">New
            </span></h4>
          </h4>
           <hr>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam corporis minima libero optio voluptate ex porro laudantium pariatur nemo sapiente assumenda nulla, error ipsa et exercitationem velit ea! Consequatur!</p>
        </div>
        </div>
      </div>
    </div>
</div>


