// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-col{
background-color: grey;
font-size:12px;
border: 1px solid green;
}

.custom-col2{
background-color: blue;
font-size:12px;
border: 1px solid yellow;
}

.custom-row{
  margin: 10px 0;
}

.custom-field{
  margin: 40px 0;
}